@model Proyectoo2.Models.Datos

@{
    ViewBag.Title = "DatosFormulario";
}

<h2>Datos Recibidos del usuario</h2>
<label>Nombre: @Model.nombre</label><br />
<label>Apellido: @Model.apellido</label><br />
<label>Correo Electronico: @Model.email</label><br />


