
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido</h2>

<a href="Menu/Opciones" class="btn btn-primary">Entrar</a>

<footer id="footer">&copy; Todos los derechos reservados. Oseas Arnaud Sanchez</footer>

