
@{
    ViewBag.Title = "Inicio";
}

<h2>Menu Inicio</h2>
<div>
    <ul>
        <li> <a href="Opciones" class="btn btn-primary">Seccion Anterior</a> </li>
        <li> <a href="Nosotros" class="btn btn-primary">Siguiente Seccion</a> </li>
        <li> <a href="Opciones" class="btn btn-primary">Volver al Menu Principal</a> </li>
    </ul>
</div>

<div>
    <h2>Inicio</h2>
    <h3>Nuestro Banner</h3>
    <img src="http://lorempixel.com/400/200" />
</div>
    
<div>
    <h3>Historia</h3>
    <h4>Lorem Ipsum</h4>
    <p>
        <em>
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
        </em>
    </p>
    <p>
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Integer mattis pulvinar vestibulum.
        Vestibulum et velit sem. Duis efficitur
        ac est a bibendum. Curabitur pretium
        volutpat elit vel tincidunt. Suspendisse
        potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed elit lacinia, porttitor dui sit amet, venenatis risus. Nunc gravida eget turpis eu imperdiet. Pellentesque aliquet, urna porttitor vulputate bibendum, risus ex tincidunt elit, ut cursus elit justo id ligula. Fusce pharetra odio non diam mattis convallis. Curabitur porta ut felis id iaculis. Ut imperdiet facilisis nibh, eu accumsan nisl.

        Proin luctus, nunc in porta rhoncus, arcu est aliquam enim, id eleifend lacus neque vel eros. Nullam pulvinar urna vitae risus iaculis sodales. Sed ac dictum nibh. Duis nisl dui, elementum sed gravida vel, ultricies vulputate leo. Cras vel lacinia ante. Donec maximus quis tortor non laoreet. In lectus metus, dignissim convallis mi ac, auctor sollicitudin tellus. Donec dictum lacinia dapibus. Integer aliquet vel dui ut pharetra. Vivamus imperdiet risus elit, vitae accumsan lacus volutpat at. Nulla placerat in leo vitae blandit. Quisque vel ullamcorper erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        Mauris suscipit, urna sed venenatis cursus, lorem enim luctus lectus, a iaculis libero arcu at mi. Ut suscipit eleifend rhoncus. Nullam lacinia nulla ex, nec mattis nisi commodo quis. Vivamus lorem dui, interdum quis arcu at, euismod luctus quam. Integer dapibus odio arcu, id sagittis enim bibendum at. Aliquam id nisi a nulla varius gravida. Morbi eget mollis turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        Curabitur erat purus, molestie nec metus at, faucibus ornare erat. Duis sodales feugiat lorem, vitae vestibulum risus vulputate in. Integer velit ex, hendrerit sed mauris eget, auctor pellentesque leo. Fusce vitae pretium neque. Donec finibus ex diam, vitae maximus purus interdum et. Curabitur dignissim, nibh quis blandit dapibus, lacus odio luctus neque, sit amet egestas massa dolor vel risus. Aliquam a orci risus. Suspendisse eu tellus dui. Maecenas pharetra justo ut ipsum viverra, in rutrum ex molestie. Suspendisse potenti. Pellentesque et nisi lacus. Curabitur eu scelerisque orci, at lacinia est. Nam vel dui volutpat, molestie est nec, pretium ipsum. Sed a ligula ut est blandit facilisis. Donec at orci ex. Nullam rhoncus ante arcu, ut posuere nisl viverra quis.

        Nunc tincidunt porttitor molestie. Ut in nisi quis nulla rhoncus scelerisque. Aenean dapibus sagittis tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis vehicula velit lectus, a tempor enim congue in. Maecenas consequat placerat pellentesque. Nunc finibus elit sed libero pellentesque tincidunt. Donec pellentesque lectus non augue interdum sagittis. Curabitur auctor fringilla congue. Nullam at justo sollicitudin, lobortis enim sed, vestibulum justo.
    </p>
</div>

<div>
    <h3>Informacion De Contacto</h3>
    <a href="http://api.whatsapp.com/send?phone=18492702154" target="_blank" class="btn btn-success">WhatsApp</a><br>
    <a href="https://www.instagram.com/chch_mvp/" target="_blank" class="btn btn-danger">Instagram</a>

    <footer id="footer">
        <p>&copy; Todos los derechos reservados. By Oseas Arnaud Sanchez</p>
    </footer>
</div>





