
@{
    ViewBag.Title = "Opciones";
}

<h2>Menu Principal</h2>

<div>
    <a href="Inicio" class="btn btn-primary">Inicio</a> <br />
    <a href="Nosotros" class="btn btn-primary">Nosotros</a><br />
    <a href="Servicios" class="btn btn-primary">Servicios</a><br />
    <a href="Contacto" class="btn btn-primary">Contacto</a><br />

    <footer id="footer">&copy; Todos los derechos reservados. Oseas Arnaud Sanchez</footer>
</div>

