
@{
    ViewBag.Title = "Servicios";
}

<h2>Menu Servicios</h2>
<div>
    <ul>
        <li> <a href="Nosotros" class="btn btn-primary">Seccion Anterior</a> </li>
        <li> <a href="Contacto" class="btn btn-primary">Siguiente Seccion</a> </li>
        <li> <a href="Opciones" class="btn btn-primary">Volver al Menu Principal</a> </li>
    </ul>
</div>

<div>
    <h3>Servicios</h3>
        <ul>
            <li>Aplicaciones Moviles</li>
            <li>Aplicaciones de Escritorio</li>
            <li>Aplicaciones Web</li>
            <li>Clud</li>
            <li>Redes</li>
            <li>Entre otros</li>
        </ul>
        <footer id="footer">&copy; Todos los derechos reservados. Oseas Arnaud Sanchez</footer>
</div>
  

